/* Variables */

:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-gray: #eeeeee;
  --basic-red: #fb565a;
  --basic-green: #00ca74;
  --basic-yellow: #efc84a;
  --neutral-gray: #888888;
  --basic-extra-dark: #283136;
  --special-extra-gray: #444444;
  --special-gray: #666666;
  --special-light-gray: #e1e1e1;
  --special-dark-gray: #c1c1c1;

  --active-logo: #a6a6a6;
  --hover-gray:#dfdfdf;
  --active-gray:#d5d5d5;
  --hover-red: #e74246;
  --active-red: #d7373b;
  --hover-green: #00bc6c;
  --active-green:#00aa62;
  --hover-yellow:#eab534;
  --active-yellow:#e5a722;
  --background-scale: #d7dcde;
  --hover-color-button: #e26f72;

}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-extra-dark);

  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

.main-header-logo,
.basket-link,
.button-slider,
.button,
.customers-list a,
.address-wrapper a,
.footer-wrapper a,
.btn-map,
.sorting a,
.patterns-list a,
.catalog-list-nav a {
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main-header,
.slider {
  background-color: var(--basic-gray);
}

.main-navigation {
  margin: 0;
  padding: 0;
  padding-top: 76px;
  padding-right: 195px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.site-navigation,
.footer-contacts,
.filter-text,
.sorting-list,
.patterns-list,
.catalog-list-nav,
.customers-list {
  list-style: none;
}

/* User navigation */

.menu-logo {
  padding-top: 49px;
  padding-right: 202px;
}

.main-header-logo:active path {
  fill: var(--active-logo);
}

.site-navigation a {
  display: inline-block;
  padding-top: 0;
  vertical-align: top;
  color: var(--basic-black);
}
 
.site-navigation a,
.basket-navigation a {
  color: var(--basic-black);
  display: block;

  text-decoration: none;
  outline: none;
}

.site-navigation a:hover,
.site-navigation a:focus,
.basket-navigation a:hover,
.basket-navigation a:focus {
  color: var(--basic-red);
}

.site-navigation a:active,
.basket-navigation a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.site-navigation a:active,
.basket-navigation a:active {
  color: var(--basic-black);
}

.menu-item:active::before,
.basket-navigation a:active::before {
  content: "";
  position: absolute;
  bottom: -13px;

  height: 2px;
  width: 100%;
  
  background: var(--basic-red);
}

.basket-link {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
}

.basket-link::before {
  content: "";
  position: absolute;
  bottom: 7px;
  left: 0;

  width: 15px;
  height: 15px;

  background-image: url(../img/cart-icon.svg);
  background-repeat: no-repeat;
}

/*Slider*/

.slider{
  position: relative;

  min-height: 431px;
}

.slider-item {
  position: absolute;

  width: 100%;
  padding-bottom: 80px;

  background-repeat:no-repeat;
  background-position: 100% -5px;
}

.slider-text {
  width: 538px;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide-1.png");
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide-2.png");
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide-3.png");
}

.slider-title {
  display: block;
  margin: 0;
  padding: 0;
  padding-top: 72px;
  padding-bottom: 11px;
  
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: var(--basic-black);
}

.slider-slogan {
  margin-bottom: 20px;
  
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-extra-dark);
}

.button-slider {
  display: block;
  width: 240px;
  margin-top: 40px;
  box-sizing: border-box;
  padding-top: 17px;
  padding-bottom: 15px;

  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--basic-white);
  text-align: center;

  border-radius: 3px;
}

.button-slider {
  background-color: var(--basic-red);
}

.button-slider:hover,
.button-slider:focus  {
  background-color: var(--hover-red);
}

.button-slider:active {
  color: var(--hover-color-button);
  background-color: var(--active-red);
}

.slider-controls {
  position: absolute;
  bottom: 96px;
  left: 535px;
}

.slider-controls button {
  position: relative;
  width: 18px;
  height: 18px;
  margin-right: 14px;

  background-color: var(--basic-white);
  border: none;
  border-radius: 50%;
  cursor: pointer;

  text-decoration: none;
  border: none;
  outline: none;
}

.slider-controls button.point::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;

  width: 4px;
  height: 4px;

  border: 2px solid var(--special-dark-gray);
  border-radius: 50%;
}

/*Services*/

.services {
  padding: 0;
  padding-top: 74px;
  padding-bottom: 68px;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-extra-dark);

  border-bottom: 2px solid var(--basic-gray);  
}

.services h3 {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 16px;

  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.services-list {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  
  -moz-column-gap: 100px;
       column-gap: 100px;

  margin: 0;
  padding: 0;
  min-height: 360px;

  list-style: none;
}

.services-item p{
  width: 250px;
}

.button-order {
  display: block;
  width: 160px;
  padding-top: 17px;
  padding-bottom: 17px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: var(--basic-white);
  text-transform: uppercase;

  border-radius: 3px;
}

.button-order-red {
  background-color: var(--basic-red);
}

.button-order-red:hover,
.button-order-red:focus,
.slider-item a:hover,
.slider-item a:focus {
  background-color: var(--hover-red);
}

.button-order-red:active,
.slider-item a:active {
  background-color: var(--active-red);
}

.button-order-green {
  background-color: var(--basic-green);  
}

.button-order-green:hover,
.button-order-green:focus {
  background-color: var(--hover-green);  
}

.button-order-green:active {
  background-color: var(--active-green); 
}

.button-order-yellow {
  background-color: var(--basic-yellow);
}

.button-order-yellow:hover,
.button-order-yellow:focus {
  background-color: var(--hover-yellow);
}

.button-order-yellow:active {
  background-color: var(--active-yellow);
}

/*About-us*/

.text-title {
  margin-top: 33px;
  margin-bottom: 34px;

  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: var(--basic-black);
}

.text-slogan {
  margin: 0;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-extra-dark);
}

.main-description {
  width: 651px;
}

.main-description h3 {
  margin-top: 39px;
  margin-bottom: 26px;

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-extra-dark);
  text-transform: uppercase;
}

.description-list {
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.description-list li {
  position: relative;

  margin-bottom: 24px;
  padding-left: 36px;
}

.description-list li:before {
  content:  "";
  position: absolute;
  left: 0;
  top: 10px;

  width: 25px;
  height: 2px;
  
  background-color: var(--basic-red);
}

.description-list li {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-extra-dark);
}

.advantages {
  width: 360px;
}

.advantages img {
  display: block;
  width: 360px;
  height: 208px;
}

.advantages span {
  display: block;

  margin-top: 36px;
  margin-right: 5px;

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: var(--basic-black);
  text-transform: uppercase;
}

.table-advantages {
  margin-top: 31px;
}

.table-advantages th {
  padding-bottom: 10px;
  padding-right: 15px;

  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
  text-align: left;
  color: var(--basic-black);
}

.table-advantages sup {
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 40px;
  color: var(--basic-black);
}

.table-advantages td {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-extra-dark);
}

/*Customers*/

.customer-mishka,
.customer-htmlacademy,
.customer-borodinski,
.customer-pink {
  opacity: 0.2;
}

.customer-mishka:hover,
.customer-mishka:focus,
.customer-htmlacademy:hover,
.customer-htmlacademy:focus,
.customer-borodinski:hover,
.customer-borodinski:focus,
.customer-pink:hover,
.customer-pink:focus {
  opacity: 1;
}

.customer-mishka:active,
.customer-htmlacademy:active,
.customer-borodinski:active,
.customer-pink:active {
  opacity: 0.1;
}

/*Map*/

.map .text-map {
  margin: 0;
  margin-bottom: 23px;

  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.map address {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: var(--special-gray);
}

.address-text {
  padding-top: 1px;
  width: 210px;
}

.address-phone {
  color: var(--special-gray);
}

.map .btn-map {
  display: block;

  box-sizing: border-box;
  width: 215px;
  margin-top: 42px;
  margin-left: 3px;
  padding-top: 17px;
  padding-bottom: 17px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: var(--basic-white);
  text-transform: uppercase;

  border-radius: 3px;
  background-color: var(--basic-red);
  border: 0;
  text-decoration: none;
  
  cursor: pointer;
}

/*Footer*/

.footer-item {
  display: inline-block;
  vertical-align: top;
  width: 81px;
  height: 81px;
  
  border-radius: 50%;
  background-color: var(--special-light-gray);
}

.footer-item-vk {
  background-image: url(../img/vk-icon.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.footer-item-fb {
  background-image: url(../img/fb-icon.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.footer-item-inst {
  background-image: url(../img/insta-icon.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.footer-item-vk:hover,
.footer-item-vk:focus,
.footer-item-fb:hover,
.footer-item-fb:focus,
.footer-item-inst:hover,
.footer-item-inst:focus {
  background-color: var(--hover-red);
}

.footer-item-vk:active,
.footer-item-fb:active,
.footer-item-inst:active {
  background-color: var(--active-red);
}

.footer-text h2 {
  margin: 0;
  padding-top: 3px;

  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-black);
}

.footer-text p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--special-extra-gray);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 4;
  
  display: none;
  box-sizing: border-box;
  width: 960px;
  
  margin-left: -480px;
  margin-top: -295px;
  
  background-color: var(--basic-white);
  box-shadow: 0 10px 30px 0 rgba(0, 1, 1, 0.75);
}

.modal-show {
  display: block;
  -webkit-animation: bounce 0.6s;
          animation: bounce 0.6s;
}

.modal-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}

.modal-wrapper {
  padding-top: 63px;
  padding-bottom: 84px;
  padding-left: 100px;
  padding-right: 100px;
}

.modal-wrapper h2 {
  position: relative;

  margin: 0;
  margin-bottom: 10px;
  
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
}

.modal-wrapper button,
.left-column button,
.address-wrapper button {
  text-decoration: none;
  border: none;
  outline: none;
}

.modal-close {
  position: absolute;
  top: 85px;
  right: 82px;
  transform: translate(-50%,-50%);
  
  width: 21px;
  height: 21px;

  border: 0;
  background: none;
  background-image: url(../img/close-cross.svg);
  opacity: 0.3;

  cursor: pointer;
}

.modal-close:hover,
.modal-close:focus {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.1;
}

.modal-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-start;
  margin-top: 15px;
}

.modal-form p {
  font-weight: 700;
}

.modal-text {
  display: inline-block;
  vertical-align: top;
  width: 360px;
}

.modal-input,
.modal-comment {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  width: 360px;
  padding: 15px;
  margin-top: 6px;

  line-height: 18px;
  color: var(--background-scale);
  
  border: 2px solid var(--hover-gray);
  border-radius: 3px;
  
  outline: none;
}

.modal-input:hover,
.modal-input:focus,
.modal-comment:hover,
.modal-comment:focus {
  border: 2px solid var(--neutral-gray);
}

.modal-input:focus,
.modal-comment:focus {
  border: 2px solid var(--basic-black);
}

.modal-input:active,
.modal-comment:active {
  border: 2px solid var(--basic-black);
}

.modal-input:invalid {
  border: 2px solid var(--hover-red);
  color: var(--hover-red);
}

.modal-comment {
  width: 760px;
  height: 115px;
}

.modal-submit {
  bottom: 75px;
  
  display: block;
  margin-top: 32px;
  padding-top: 17px;
  padding-bottom: 17px;
  box-sizing: border-box;
  width: 260px;

  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: var(--basic-white);

  background-color: var(--basic-red);
  border: 0;
  border-radius: 3px;

  cursor: pointer;
}

.visually-hidden:not(:focus):not(:active),
  input[type="checkbox"].visually-hidden,
  input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Страница каталога*/

.filter-item,
.fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

.left-column ul {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  list-style: none;
}

.range-filter {
  width: 260px;
  margin-top: 48px;
  margin-bottom: 54px;
}

.filter-item legend {
  padding-bottom: 0;

  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;

  margin-bottom: 14px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 39px;
  height: 41px;

  background-color: var(--basic-gray);
  border-radius: 3px;
}

.range-controls .scale {
  height: 2px;

  background: var(--background-scale);
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: var(--basic-green);
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid var(--basic-white);
  background-color: var(--active-logo);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--hover-gray);

  cursor: pointer;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}


.price-controls label {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-extra-dark);
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 10px;
  padding-left: 15px;
  margin-left: 10px;

  font-family: inherit;
  font-size: inherit;
  text-align: center;
  color: var(--basic-extra-dark);

  border: none;
  border-radius: 3px;
  background: var(--basic-gray);
}

input[type='number'] {
  -moz-appearance: textfield;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.sorting p {
  margin: 0;

  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

ul.sorting-list {
  margin: 0;
  margin-left: 220px;
  padding: 0;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);

  border: 0;
  opacity: 1;
}

.sorting-list a {
  color: var(--basic-black);
  opacity: 0.3;
}

.sorting-list a:hover,
.sorting-list a:focus {
  color: var(--basic-black);
  opacity: 0.6;
}

.sorting-list a:active {
  color: var(--basic-black);
  opacity: 1;
}

.arrow-left {
  margin-top: 1px;
  margin-right: 15px;
}

.arrow svg {
  fill: var(--active-logo);
  opacity: 0.3;
}

.arrow svg:hover,
.arrow svg:focus {
  fill: var(--active-logo);
  opacity: 0.6;
}

.arrow svg:active{
  fill: var(--active-logo);
  opacity: 1;
}

.filter-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: var(--basic-extra-dark);
}
 
.filter-text li:disabled{
  mix-blend-mode: normal;
  opacity: 0.3;
}

.filter-button {
  display: block;
  padding: 21px 89px 15px 90px;
  width: 260px;
  min-height: 50px;

  font: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--basic-black);

  border: 0;
  background-color: var(--basic-gray);
  border-radius: 3px;

  cursor: pointer;
  outline: none;
}

.filter-button:hover,
.filter-button:focus {
  background-color: var(--hover-gray);
}

.filter-button:active {
  border: none;
  background-color: var(--active-gray);
  box-shadow: inset 0px 3px 0px var(--special-dark-gray);
}

.catalog-hover-wrapper a {
  margin: 0;
  padding: 28px 0 18px 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-black);
}

.catalog-hover-wrapper a:hover,
.catalog-hover-wrapper a:focus {
  color: var(--basic-red);
}

.catalog-hover-wrapper a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.catalog-hover-wrapper a:last-child {
  display: block;
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 32px;
  padding-top: 17px;
  padding-bottom: 17px;
  width: 200px;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--basic-white);
  text-align: center;

  border-radius: 3px;
  border: 0;
  background-color: var(--basic-red);

  overflow: visible;
  cursor: pointer;
}

.catalog-hover-wrapper a:last-child:hover,
.catalog-hover-wrapper a:last-child:focus {
  color: var(--basic-white);
  background-color: var(--hover-red);
}

.catalog-hover-wrapper a:last-child:active {
  color: var(--basic-white);

  background-color: var(--active-red);
  border: 0;
}

.patterns-list p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: var(--special-gray);
}

.pages-nav {
  margin: 0;
  margin-left: 15px;
}

.page-link {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  height: 50px;
  padding: 17px 20px;
  margin-right: 11px;
  margin-bottom: 5px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: var(--basic-black);
  
  background-color: var(--basic-gray);
  border-radius: 3px;
}

.page-link-last {
  padding-left: 78px;
  padding-right: 78px;

}

.page-link--active {
  background-color: var(--basic-white);
  border: 2px solid var(--basic-gray);
}

.page-link:hover,
.page-link:focus {
  background-color: var(--hover-gray);
}

.page-link:active {
  color: var(--basic-black);

  background-color: var(--active-gray);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

/*СЕТКА*/

/*Index*/

.page {
  height: 100%;
}

.page-body {
  display: grid;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-height: 100%;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  min-width: 495px;
 
  list-style: none;
}

.basket-navigation {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-align: right;
  color: var(--basic-black);
  text-transform: uppercase;
  margin-top: 76px;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
  text-transform: uppercase;
}

.wrapper {
  margin: 0 auto;
  box-sizing: border-box;
  width: 1157px;
  margin: 0 auto;
}

.main-menu {
  display: flex;
  justify-content: flex-start;
  
}

.main-navigation ul {
  padding: 0;
}

.main-navigation li:nth-child(4) {
  margin-right: 54px;
}

.main-navigation li {
  margin-right: 44px;
}

.menu-item {
  position: relative;

  display: inline-block;
  vertical-align: top;
  margin-right: 44px;
}

.basket-navigation .basket-link {
  position: relative;
  padding-left: 30px;
}

.services-item {
  text-align: start;
}

.services-item p {
  margin-top: 16px;
  margin-bottom: 32px;
}

.about-us {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 154px;
       column-gap: 154px;
  padding-top: 39px;
  padding-bottom: 50px;
  
  border-bottom: 2px solid var(--basic-gray);
}

.customers {
  padding-bottom: 19px;
}

.customers-list {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-top: 52px;
  padding-bottom: 32px;

  list-style: none;

  border-bottom: 2px solid var(--basic-gray);
}

.customers-list li:nth-child(2)::before {
  content: "";
  position: absolute;
  bottom: 65px;
  left: 24%;

  height: 52px;
  width: 2px;
  
  background: var(--basic-gray);
}

.customers-list li:nth-child(3)::before {
  content: "";
  position: absolute;
  bottom: 65px;
  left: 50%;

  height: 52px;
  width: 2px;
  
  background: var(--basic-gray);
}

.customers-list li:nth-child(4)::before {
  content: "";
  position: absolute;
  bottom: 65px;
  left: 76%;

  height: 52px;
  width: 2px;
  
  background: var(--basic-gray);
}

.customers-list li:nth-child(1) {
  padding-left: 30px;
}

.customers-list li:nth-child(3) {
  padding-right: 14px;
}

.customers-list li:nth-child(4) {
  padding-right: 42px;
}

.map {
  position: relative;

  width: 100%;
  height: 416px;
  margin-top: 60px;
}

.map iframe {
  position: relative;
  z-index: 2;

  border: none;
  width: 100%;
}

.map img {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;

  width: 100%;
  height: 416px;
}

.address {
  height: 416px;
}

.address-wrapper {
  position: absolute;
  z-index: 3;
  top: 55px;

  display: block;
  box-sizing: border-box;
  width: 319px;
  height: 308px;
  padding: 47px 50px;

  background-color: var(--basic-white);  
}

.main-footer {
  margin-top: 70px;
  margin-bottom: 70px;
}

.main-footer .footer-wrapper {
  display: grid;
  grid-template-columns: 400px 760px;
}

.footer-contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-right: 140px;
  width: 260px;
}

/*Catalog*/

.catalog {
  display: grid;
  grid-template-rows: 50px 1fr 50px;
  padding-top: 48px;
  width: 760px;
}

.title-catalog {
  margin: 0;
  padding-top: 70px;
  padding-bottom: 108px;

  font-style: normal;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  text-align: center;
  color: var(--basic-black);
}

.container-catalog {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 1160px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}

.filters {
  padding-top: 63px;
  width: 260px;
}

.fieldset legend {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  margin-bottom: 17px;

  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.filter-radio {
  display: none;
}

.radio-label,
.check-label {
  position: relative;

  display: block;
  padding-bottom: 22px;
  padding-left: 38px;
  font-size: 16px;
  line-height: 19px;
  color: var(--basic-extra-dark);
  
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.radio-label::before {
  content: "";
  position: absolute;
  left: 2px;
  top: -7px;

  width: 25px;
  height: 25px;

  background-image: url(../img/radio-off.svg);
  opacity: 0.4;
}

.filter-radio[type=radio]:checked + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: -4px;

  width: 25px;
  height: 25px;

  background-image: url(../img/radio-on.svg);
  opacity: 0.4;
}

.radio-label:hover::before,
.radio-label:focus::before,
.filter-radio[type=radio]:checked:hover + label::before,
.filter-radio[type=radio]:checked:focus + label::before,
.check-label:hover::before,
.check-label:focus::before,
.filter-check[type=checkbox]:checked:hover + label::before,
.filter-check[type=checkbox]:checked:focus + label::before {
  opacity: 1;
}

.radio-label:disabled::before,
.filter-radio[type=radio]:checked:disabled + label::before,
.check-label:disabled::before,
.filter-check[type=checkbox]:checked:disabled + label::before {
  opacity: 0.1;
}

.filter-text-checkbox {
  margin-bottom: 50px;
}

.filter-check {
  display: none;
} 

.check-label::before {
  content: "";
  position: absolute;
  left: 2px;
  top: -4px;

  width: 23px;
  height: 23px;

  background-image: url(../img/checkbox-off.svg);
  opacity: 0.4;
}

.filter-check[type=checkbox]:checked + label::before {
  content: "";
  position: absolute;
  left: 2px;
  top: -4px;

  width: 26px;
  height: 23px;

  background-image: url(../img/checkbox-on.svg);
  opacity: 0.4;
}

.filter fieldset:last-child {
  margin-bottom: 50px;
}

.sorting-title {
  display: inline-block;
  vertical-align: top;
  align-self: center;
  margin-right: 240px;
  padding-left: 15px;

  font-size: 18px;
  line-height: 30px;
  font-weight: 700; 
}

.sorting-wrapper {
  align-self: center;
}

.patterns-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  width: 760px;
  min-height: 1924px;
  margin: 0;
  margin-top: 78px;
  margin-left: 18px;
  padding: 0;
}

.patterns-list li {
  padding-bottom: 5px;
}

.sorting {
  display: flex;
  justify-content: space-between;
}

.sorting-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  min-width: 272px;
  padding: 0;
  margin: 0;
}

.pattern {
  position: relative;

  width: 360px;
  height: 570px;
  margin-right: 40px;
  margin-bottom: 70px;
}

.pattern:hover {
  box-shadow: 0px 7px 9px -3px var(--neutral-gray);
}

.pattern::before {
  content: "";
  position: absolute;
  top: -39px;

  width: 358px;
  height: 40px;

  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: var(--basic-gray);
  background-image: url(../img/browser.svg);
  opacity: 0.12;
}

.pattern:hover::before {
  background-image: url(../img/browser.svg);
  opacity: 1;
}

.pattern:hover .pattern-hover {
  display: block;
}

.pattern-hover {
  position: absolute;
  bottom: 0;

  display: none;
  box-sizing: border-box;
  min-height: 235px;
  width: 100%;
  margin-top: 350px;

  background-color: var(--basic-gray);
}

.catalog-hover-wrapper {
  display: block;
  margin: 0 auto;
  margin-top: 26px;
  width: 255px;

  text-align: center;
}

.pattern:nth-child(2n) {
  margin-right: 0;
}

.pattern a {
  text-transform: uppercase;
}

.catalog-list-nav {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-list-nav li:last-child {
  text-transform: uppercase;
}

/* Animations */

@-webkit-keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes bounce {
  0% { 
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}